<!-- FILEPATH: /home/vojta/sport_vsem/templates/show_samples.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Show Samples</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>{{ district }}</h1>
    <div class="locations-container">
        <!-- Each location is represented by a card -->
        {% for sample in samples %}
        <div class="location-card">
            <div class="location-details">
                <h2>{{ sample.name }}</h2>
                <p><strong>Stránka: </strong>
                    {% if sample.webpage != '-' %}
                        <a href="{{ sample.webpage }}" target="_blank">{{ sample.webpage }}</a>
                    {% else %}
                        {{ sample.webpage }}
                    {% endif %}
                </p>
                <p><strong>Kontakt: </strong>{{ sample.contact }}</p>
                <p><strong>Email: </strong>{{ sample.email }}</p>
                <p><strong>Tel.: </strong>{{ sample.tel  }}</p>
            </div>
            <div class="additional-info"> 
                <h2>&nbsp;</h2>
                <p><strong>Aktivity: </strong>{{ sample.activities }}</p>
                <p><strong>Adresa: </strong>{{ sample.address }}</p>
                <p><strong>Členství: </strong>{{  sample.membership  }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
